* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /*background-color: #f4f4f9;*/
    background-color: cornsilk;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #4a90e2;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    display: flex;
}

header h1 {
    font-size: 2.5em;
}

.di {
    position: relative;
    width: 80%;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 30px;
    background: #a5a5a5;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-item {
    padding: 10px 15px;
    border-radius: 15px;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: 0.3s, transform 0.2s;
    text-decoration: none;
}

.menu-item:hover {
    background: #357ABD;
    transform: scale(1.05);
    text-decoration: none;
}

.contenuto {
    display: flex;
    justify-content: space-between;
    max-width: 20000px;
    /* Aumenta la larghezza massima */
    width: 90%;
    /* Imposta una larghezza del 90% della pagina per ulteriore flessibilità */
    margin: 20px auto;
    /* Margini automatici per centrare il contenitore */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenuto-testo {
    width: 60%;
    /* Colonna sinistra più ampia per il testo */
    margin-right: 20px;
}

.contenuto-immagini {
    width: 35%;
    /* Colonna destra per le immagini */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.immagine-esempio {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4a90e2;
}

p {
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    color: #666;
    width: 100%;
}

header {
    background-color: #4a90e2;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

.header-image {
    width: 50px;
    height: auto;
    margin: 0 10px;
}

.left {
    order: -1;
}

.right {
    order: 1;
}

.subtitle {
    font-size: 1em;
    font-style: italic;
    color: #e0e0e0;
    margin-top: 5px;
    background-color: #4a90e2;
    width: 100%;
    text-align: center;
}

.reset {
    font-style: normal;
}

.custom-divider {
    border: 0;
    border-top: 2px solid #000;
    /* Imposta una linea nera di 2px */
    margin: 20px 0;
    /* Aggiunge spazio sopra e sotto */
}

.elenco {
    margin-left: 20px;
}
